{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p><h2>ZippyOps</h2><br>
    <strong>Cloud & DevOps Blog</strong><br>
    Moto of this blog is to explain complicated devops and cloud technologies in a simple way. This blog keeps you up to date with the latest industry news on devops and cloud and takes you deep into the weeds with technical how-tos and product reviews. You’ll find all types of commentary on the DevOps and cloud ecosystem, including news, product reviews and insights from the pros.</p>

{% endblock %}
