{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    
209/210, 1st floor,J Nagar<br>
Panaiyur kuppam  road<br>
Panaiyur<br>
Chennai -600119<br>
(Next to Diamond Company building)
    <abbr title="Phone">P:7010585768</abbr>
    
</address>

<address>
    <strong>E-Mail:</strong>   <a href="admin@zippyops.com">ZippyOPS Admin</a><br />
    <strong>Website:</strong>   <a href="http://zippyops.com/">ZippyOPS</a><br />
</address>

{% endblock %}
